body {
    width: 320px;
    margin: 30px auto;
    font-family: Inter, sans-serif;
    background-color: #4d5576;
}

.container {
    background-color: #1A1B21;
    border-radius: 10px;
}

a {
    text-decoration: none;
    display: flex;
}

.avatar {
    width: 320px;
    height: 320px;
    border-radius: 10px 10px 0 0;
}

.name {
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-top: 20px;
}

.position {
    margin: 0;
    color: #F3BF99;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.website {
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
    margin: 8px 0 16px 0;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.mail-icon {
    margin-right: 8px;
    color: #1E1F26;
    font-size: 1.2em;
}

.email-btn {
    width: 250px;
    height: 34px;
    background: #FFF;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #374151;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about--wrap {
    padding: 0 35px;
}

.about--title {
    color: #F5F5F5;
    margin: 0;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 700;
}

.about--text {
    color: #DCDCDC;
    margin: 0;
    margin-top: 5px;
    font-size: 11px;
}

.interests--wrap {
    padding: 0 35px 35px 35px;
}

.interests--title {
    color: #F5F5F5;
    margin: 0;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700;
}

.interests--text {
    color: #DCDCDC;
    margin: 0;
    margin-top: 5px;
    font-size: 11px;
}

.footer-wrap {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161619;
    border-radius: 0 0 10px 10px;
}

.footer--btn {
    color: #918E9B;
    height: 25px;
    width: 25px;
    padding: 20px 10px;
}
